.social-media-small-button {
    border-width: 2px; border-style: solid;
    $size: 2.25rem; width: $size; height: $size;
    &:first-child {
        margin-right: .25rem;
    }
    .icon {
        font-size: 1.6rem !important;
    }

    &.facebook {
        border-color: $facebook-color;
        .icon {
            color: $facebook-color;
        }
    }
    &.instagram {
        border-color: $instagram-color;
        .icon {
            color: $instagram-color;
        }
    }
}