.consultas-online-2 {
    .content {
        .section-title {
            font-size: 1.25rem;
        }
        .foto-frontal-img {
            max-width: 100%;
        }
    }
    .presentation-section {
        background: url('/img/forest-min.jpg');
        background-size: cover;
        .content {
            background: linear-gradient(101.31deg, #FFFFFF 0%, rgba(255, 255, 255, 0.43) 100%);
        }
    }

    /***** ***** BENEFICIO ***** *****/
    .beneficio {
        .beneficio-title {
            font-size: 1rem;
        }
        .description {
            font-size: .8125rem;
            color: #697477;
        }
        /***** ***** SHADOWS ***** *****/
        .logo-wrapper {
            $heart-color: #ADD974;
            $person-color: #303033;
            $heart-color: #ADD974;
            $heart-color: #ADD974;
            $heart-color: #ADD974;
            $heart-color: #ADD974;
            $shadow-blur: 5px;
            .heart {
                filter: drop-shadow(0px 0px $shadow-blur $heart-color);
            }
            .person {
                filter: drop-shadow(0px 0px $shadow-blur $person-color);
            }
        }
    }
}