.consultas-online-2 {
    .presentation-section {
        background: url('/img/forest-min.jpg');
        background-size: cover;
        .content {
            background: linear-gradient(101.31deg, #FFFFFF 0%, rgba(255, 255, 255, 0.43) 100%);
            padding: 3rem 1.5rem;
            .presentation-title {
                font-size: 1.125rem;
            }
        }
    }
}