@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&family=Open+Sans:wght@300;400;500;700&display=swap);
.section-presentation {
  margin-top: 3.5rem;
}
.section-presentation .img-frontal {
  max-height: 17, 1875rem;
}

.social-media-button-container {
  position: relative;
  --sm-color: #3B5998;
  background-color: var(--sm-color);
}
.social-media-button-container.instagram {
  --sm-color: #CA2474;
}
.social-media-button-container .icon-circle.grey.lighten-5 {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 8rem);
  width: 5rem;
  height: 5rem;
  border: 3px solid var(--sm-color) !important;
}
.social-media-button-container .icon-circle.grey.lighten-5 .icon {
  color: var(--sm-color);
  font-size: 3rem;
}
.social-media-button-container .follow-text {
  font-size: 0.875rem;
}
.social-media-button-container .social-media-text {
  font-size: 1.5rem;
  margin-left: 7rem;
}

.section-presentation-video .responsive-video {
  max-width: 48rem;
}
.section-presentation-video .responsive-video .presentation-video {
  width: 100%;
}

.app-header .logo {
  max-height: 34px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.primary-font {
  font-family: "Montserrat", sans-serif;
}

.gradient-bg {
  background: #00959B;
  background: linear-gradient(180deg, #00959B 0%, #764191 100%);
}

.primary-color {
  color: #00959B;
}

.secondary-color {
  color: #764191;
}

.lh-1 {
  line-height: 1;
}
