@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&family=Open+Sans:wght@300;400;500;700&display=swap);
.section-presentation .main-title {
  font-size: 28px;
}

.app-header .logo {
  max-height: 34px;
}

img {
  vertical-align: middle;
}

.gradient-bg {
  background: #00959B;
  background: linear-gradient(180deg, #00959B 0%, #764191 100%);
}

.title-font {
  font-family: "Montserrat", sans-serif;
}
