@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,500&family=Open+Sans:wght@300;400;500;700&display=swap);
.section-presentation .frontal-img {
  max-height: 24rem;
}
.section-presentation .primary-title {
  max-width: 36rem;
}

.section-presentation-video .responsive-video {
  max-width: 48rem;
}
.section-presentation-video .responsive-video .presentation-video {
  width: 100%;
}

.testimony {
  position: relative;
  margin-top: 4.0625rem;
  height: calc(100% - 4.0625rem);
}
.testimony .testimony-card {
  height: 100%;
}
.testimony .avatar-wrapper {
  position: absolute;
  width: 8.125rem;
  height: 8.125rem;
  margin-top: -4.0625rem;
  top: 0;
  left: calc(50% - 4.0625rem);
}
.testimony .avatar-wrapper .avatar-img {
  width: 100%;
  height: 100%;
  border: 6px solid #764191;
}

.section-gift .primary-title {
  max-width: 36rem;
}

.section-faq .faq-title {
  font-size: 1rem;
  line-height: 1.5;
}

.section-social-media .description {
  max-width: 40rem;
}
.section-social-media .buttons-container {
  max-width: 40rem;
}

.product-card-label-type-container {
  --color: #00959B;
  --bg-color: rgba(0, 149, 155, 0.1);
  background-color: var(--bg-color);
  color: var(--color);
}
.product-card-label-type-container.ebook {
  --color: #764191;
  --bg-color: rgba(118, 65, 145, 0.1);
}
.product-card-label-type-container .label-type {
  font-size: 0.875rem;
}
.product-card-label-type-container .icon {
  color: var(--color) !important;
}

.product-card {
  position: relative;
}
.product-card .product-card-title {
  font-size: 1.25rem;
}

.discount-sticker-wrapper {
  position: absolute;
  top: -25px;
  right: -20px;
  z-index: 4;
  pointer-events: none;
}
.discount-sticker-wrapper .discount {
  position: absolute;
  display: block;
  width: 100%;
  right: 0;
  top: 26%;
  font-size: 1.125rem;
}

.product-card-responsive {
  overflow: hidden;
}
.product-card-responsive .product-name {
  font-size: 1.25rem;
}
.product-card-responsive .description {
  font-size: 0.875rem;
}

.social-media-button-container {
  position: relative;
  --sm-color: #3B5998;
  background-color: var(--sm-color);
}
.social-media-button-container.instagram {
  --sm-color: #CA2474;
}
.social-media-button-container .icon-circle.grey.lighten-5 {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 8rem);
  width: 5rem;
  height: 5rem;
  border: 3px solid var(--sm-color) !important;
}
.social-media-button-container .icon-circle.grey.lighten-5 .icon {
  color: var(--sm-color);
  font-size: 3rem;
}
.social-media-button-container .follow-text {
  font-size: 0.875rem;
}
.social-media-button-container .social-media-text {
  font-size: 1.5rem;
  margin-left: 7rem;
}

#btn-toggle-product-type .btn-primary-toggle::before {
  background-color: unset !important;
}
#btn-toggle-product-type .btn-primary-toggle.active {
  background-color: rgba(0, 149, 155, 0.12) !important;
  color: #00959B !important;
}
#btn-toggle-product-type .btn-primary-toggle.active::before {
  background-color: transparent !important;
}
#btn-toggle-product-type .btn-secondary-toggle::before {
  background-color: unset !important;
}
#btn-toggle-product-type .btn-secondary-toggle.active {
  background-color: rgba(118, 65, 145, 0.12) !important;
  color: #764191 !important;
}
#btn-toggle-product-type .btn-secondary-toggle.active::before {
  background-color: transparent !important;
}

.cart-page .stepper .main-title {
  font-size: 1.5rem;
}

.payment-card .header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.payment-card .money-type {
  width: 4.0625rem;
}
.payment-card .list {
  list-style-type: none;
}
.payment-card .payment-logo {
  height: 1.7rem;
}
.payment-card .transfer-step {
  font-size: 0.875rem;
}
.payment-card .primary-title {
  font-size: 1rem;
}
.payment-card .buttonLogo {
  height: 1.5rem;
}
.payment-card .qr-wrapper img {
  max-width: 100%;
  height: 10rem;
}

.challenge-page {
  font-weight: 400;
}
.challenge-page .section-presentation {
  position: relative;
  height: max(75vh, 35rem);
}
.challenge-page .section-presentation .hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.challenge-page .section-presentation .hero-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 65, 145, 0.5);
  background-image: linear-gradient(99.4deg, #00959B 0%, rgba(0, 149, 155, 0) 69.64%), linear-gradient(99.4deg, #00959B 0%, rgba(0, 149, 155, 0) 69.64%);
}
.challenge-page .section-presentation .content {
  position: relative;
  max-width: 38rem;
}
.challenge-page .section-presentation .content .main-title {
  font-size: 3rem;
}
.challenge-page .section-presentation .description {
  font-size: 1.125rem;
  line-height: normal;
}

.small-calendar {
  width: auto;
  font-weight: 600;
}
.small-calendar .primary-text {
  font-size: 0.9375rem;
}
.small-calendar .secondary-text {
  font-size: 0.8125rem;
  font-weight: 300;
}
.small-calendar .date {
  font-weight: 700;
  font-size: 1.125rem;
}
.small-calendar .date .time-info {
  font-size: 9px;
}
.small-calendar .square {
  width: 100%;
  height: 100%;
  background-color: #764191;
}
.small-calendar.count-down .square {
  background-color: #00959B;
}

.section-inscription .price-wrapper {
  font-size: 1.25rem;
}

.challenge-footer {
  border-top-width: 5px !important;
  border-top-style: solid !important;
  border-top-color: #00959B !important;
  background-color: #00959B !important;
}
.challenge-footer .content {
  position: relative;
}

.challenge-page {
  padding-bottom: 11.75rem !important;
}
@media only screen and (min-width: 600px) {
  .challenge-page {
    padding-bottom: 9rem !important;
  }
}
.challenge-page .content {
  height: 100%;
}
.challenge-page .content .main-title {
  font-size: 2.25rem;
}
.challenge-page .content .img {
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 13rem;
}
@media only screen and (min-width: 600px) {
  .challenge-page .content .img {
    min-height: 23rem;
  }
}
@media only screen and (min-width: 1264px) {
  .challenge-page .content .img {
    min-height: 0;
  }
  .challenge-page .content .img.small-content {
    min-height: 22.25rem;
  }
}
.challenge-page .content .list-info {
  font-weight: 400;
}

.app-header .logo {
  max-height: 34px;
}

.footer {
  border-top: 5px solid #00959B !important;
}
.footer .card {
  background-color: transparent !important;
}
.footer .primary-title {
  font-size: 0.875rem;
}

.banner-challenge {
  position: relative;
  z-index: 6 !important;
}
.banner-challenge .event-name {
  text-transform: uppercase;
}
.banner-challenge .content {
  position: relative;
}
.banner-challenge .btn-close-banner {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

html {
  overflow-y: auto !important;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.primary-font {
  font-family: "Montserrat", sans-serif;
}

.gradient-bg {
  background: #00959B;
  background: linear-gradient(180deg, #00959B 0%, #764191 100%);
}

.gradient-bg-secondary {
  background-image: linear-gradient(99.4deg, rgba(118, 65, 145, 0.9) 0%, rgba(0, 0, 0, 0.2) 69.64%);
  background-color: rgba(0, 0, 0, 0.6);
}

.primary-color {
  color: #00959B;
}

.secondary-color {
  color: #764191;
}

.primary-bg {
  background-color: #00959B !important;
}

.secondary-bg {
  background-color: #764191 !important;
}

.fb-color {
  color: #3B5998 !important;
}

.ig-color {
  color: #CA2474 !important;
}

.dark-gray-bg {
  background-color: #303033 !important;
}

.lh-1 {
  line-height: 1;
}

.lh-normal {
  line-height: normal !important;
}

.h-100 {
  height: 100%;
}

.mb-footer {
  margin-bottom: 9.6875rem;
}

.word-break {
  word-break: break-word;
}

.skeleton-loader-sheet {
  height: 100%;
}
.skeleton-loader-sheet .skeleton-loader {
  height: 100%;
}

.c-pointer {
  cursor: pointer;
}

.list-style-type-none {
  list-style-type: none;
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.details-page .main-title {
  font-size: 1.5rem !important;
}
.details-page .card-features {
  font-size: 13px !important;
}
.details-page .card-features.white {
  border: unset;
  border-top: 5px solid #00959B !important;
}
.details-page .card-features .feature-title {
  font-size: 1rem;
}
.details-page .list {
  list-style-type: none;
}
