.social-media-button-container {
    position: relative;
    .icon-circle.grey.lighten-5 {
        position: absolute;
        $size: 5rem;
        top: calc(50% - $size/2); left: calc(50% - 8rem);
        width: $size; height: $size;

        border-color: $facebook-color !important; border-width: 3px !important; border-style: solid !important;

        .icon {
            color: $facebook-color;
            font-size: 3rem;
        }
    }
    background-color: $facebook-color;
    .follow-text {
        font-size: .875rem;
    }
    .social-media-text {
        font-size: 1.5rem;
        margin-left: 7rem;
    }
}