#btn-toggle-product-type {
  .btn-primary-toggle {
    &::before {
      background-color: unset !important;
    }
    &.active {
      background-color: transparentize($color: $primary-color, $amount: 0.88) !important;
      color: $primary-color !important;
      &::before {
        background-color: transparent !important;
      }
    }
  }

  .btn-secondary-toggle {
    &::before {
      background-color: unset !important;
    }
    &.active {
      background-color: transparentize($color: $secondary-color, $amount: 0.88) !important;
      color: $secondary-color !important;
      &::before {
        background-color: transparent !important;
      }
    }
  }

  .btn-extra-toggle {
    &::before {
      background-color: unset !important;
    }
    &.active {
      background-color: transparentize($color: #2196F3, $amount: 0.88) !important;
      color: #2196F3 !important;
      &::before {
        background-color: transparent !important;
      }
    }
  }
}