@import '~vuetify/src/styles/settings/_variables';
@import "./sectionPresentation.scss";
@import "./smallCalendar.scss";
@import "./footer.scss";

.challenge-page {
  .content {
    height: 100%;

    .main-title {
      font-size: 3rem;
      font-weight: 600 !important;
    }

    .img {
      background-size: cover;
      background-position: center;
      height: 100%;
      min-height: 13rem;

      @media #{map-get($display-breakpoints, 'sm-and-up')} {
        min-height: 23rem;
      }

      @media #{map-get($display-breakpoints, 'lg-and-up')} {
        min-height: 0;
        &.small-content {
          min-height: 22.25rem;
        }
      }

    }

    .list-info {
      font-weight: 500;
    }
  }
}
