img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.primary-font {
    font-family: 'Montserrat', sans-serif;
}

.gradient-bg {
    background: $primary-color;
    background: linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.lh-1 {
    line-height: 1;
}