.banner-challenge {
  position: relative;
  z-index: 6 !important;

  .hero {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero-gradient {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(99.4deg, transparentize($secondary-color, 0.1) 0%, transparentize(#000000, .8) 69.64%);
    background-color: rgba($color: #000000, $alpha: .6);
    width: 100%;
    height: 100%;
  }

  .event-name {
    text-transform: uppercase;
  }

  .content {
    position: relative;
  }
}
